a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

body{
    margin: 0;
    padding: 0;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color: white;

}
ul{
    list-style-type: none; 

}
p{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 30px;
    font-family: Roboto;
}
.subtitle{
    margin-top: -20px;
}

.navigation{
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    background-color:#303030;
}
.navigation-list{
    justify-content: center;
}
.navigation-list-element{
    justify-content: center;
}
.navigation-list-element:hover{
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 0.5s; /* don't forget to set a duration! */
}

.navigation-link{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: Koulen;
}
.logo{
    width: 300px;
    margin-left: 5vh;
}
.hero{
    background-color: #303030;
}
.heroCont{
    padding-top: 10vh;
    margin-left: 5vh;
}
.heroCont2{
    padding-top: 8vh;
    margin-left: 5vh;
}
.heroCont p {
    font-size: 4rem;
    font-family: Koulen;
}
.heroCont2 p {
    font-size: 2rem;
    font-family: Koulen;
    color: #ffff;
}
#heroHeader1{
    color: #ffff;
}
#heroHeader2{
    color: #49A057;
    margin-top: -40px;
}

.buttG{
    font-family: Koulen;
    background-color: #49A057;
    border: none;
    color: #303030;
    padding: 0px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    margin-top: 2vh;
    cursor: pointer;
    
}
.spacer{
    height: 20vh;
}
.motto{
    font-size: 3rem;
    font-family: Koulen;
    color: black;
    margin-left: 5vh;
    margin-top: -40px;
    z-index: 2;
}
.mottoCont{
    margin-top: 15vh;
}
#smoothCont{
    display: flex;
}
#smooth{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: #ffff;
}
.gUnder1{
    color: #49A057;
    height: 20px;
    background-color: #49A057;
    position: relative;
    bottom: 40px;
    z-index: -999;
    margin: 0;
    width: 280px;
    margin-left: 4vh;
    opacity: 50%;
}
.gUnder2{
    color: #49A057;
    height: 20px;
    background-color: #49A057;
    position: relative;
    bottom: 40px;
    z-index: -999;
    margin: 0;
    width: 540px;
    margin-left: 4vh;
    opacity: 50%;
}
.gUnder3{
    color: #49A057;
    height: 20px;
    background-color: #49A057;
    position: relative;
    bottom: 40px;
    z-index: -999;
    margin: 0;
    width: 320px;
    margin-left: 4vh;
    opacity: 50%;
}
.gUnder4{
    color: #49A057;
    height: 20px;
    background-color: #49A057;
    position: relative;
    bottom: 40px;
    z-index: -999;
    margin: 0;
    width: 370px;
    margin-left: 4vh;
    opacity: 50%;
}
.atGreen{
    font-family: Roboto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 1.5rem;
}
.cardWrap{

    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.card{
    background-color: ;
    border-style: solid;
    border-width: 2px;
    margin: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 10px #49A057;
}
.cardTxt{
    font-size: 1.1rem;
    margin: 10px;
}
.section4{
    margin-top: 5vh;
    background-color: #303030;
    color: #ffff;
}

.section5{

}
footer{
    width: 100%;
    height: 150px;
    background-color: #303030;
}

.headWrap{
    padding-top: 3vh;
}
.descWrap{

}
.appDesc{
    text-align: right;
    font-size: 1rem;
}
.servWrap{
    
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.service{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.serv1{
    width: 100%;
    height: 40vh;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}
.serv2{
    text-align: center;
    position: relative;
    background-color: #303030;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
#s1{
    background-image: url(img/image\ 2.jpg) ;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}
#s2{
    background-image: url(img/image\ 3.jpg) ;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}
#s3{
    background-image: url(img/image\ 4.jpg) ;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}
#s4{
    background-image: url(img/image\ 5.jpg) ;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}
#s5{
    background-image: url(img/image\ 6.jpg) ;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}
#s6{
    background-image: url(img/image\ 7.jpg) ;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}
.servImg{
    max-height: 30vh;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    padding: 0px;

}
.servHead{
    color: #ffff;
    font-size: 1rem;

}
.servTxt{
    padding-top: 10px;
    color: #ffff;
    font-size: 0.8rem;
}
.imgTxt{
    position: absolute;
    display: block; 
    font-size: 1.5rem;
    font-family: Roboto;
    color: #ffff;
    background-color: #303030;
    z-index: 2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;   
}
.section6{
    background-color: #303030;
}
.beneWrap{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    justify-items: center;
}
.benefit{
    margin-left: 20px;
    margin-right: 20px;
}
.beneHead{
    font-family: Koulen;
    font-size: 2rem;
    color: #ffff;
    margin-top: 20px;
}
.beneCard{
    border-style: solid;
    border-width: 2px;
    border-color: #ffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 10px #ffffff;
    
    
}
.beneTxt{
    color: #ffff;
    font-family: roboto;
    font-size: 1rem;
}
.abouttxtWrap{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.aboutTxt{
    color: #ffff;
    font-size: 1rem;
    padding-top: 20px;
}
.teamWrap{
    width: 100%;
    display: flex;
}
.memberWrap{

}


/*CONTWRAPPERS*/
.contWrapApproach{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 50px;
    padding-bottom: 100px;
}
.contWrapCards{
    width: 90%;
    margin-left: auto;
    margin-right: auto; 
}


/*Headers*/
.header1{
    font-size: 4rem;
    font-family: Koulen;
    margin-top: -40px;
}
.header2{
    font-size: 4rem;
    font-family: Koulen;
    color: #303030;
    margin-left: 5%;
}
.header3{
    font-size: 4rem;
    font-family: Koulen;
    color: #ffff;
    text-align: center;
    padding-top: 40px;
}
.header4{
    font-size: 3rem;
    font-family: Koulen;
    color: #ffff;
    text-align: center;
    padding-top: 40px;
}
#lead{
    font-size: 3rem;
    font-family: Koulen;
    color: #49A057;
    text-align: center;
    padding-top: 40px;
}
.head4Wrap{
    text-align: left;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}
.header5{
    text-align: left;
    font-size: 3rem;
    font-family: Koulen;
    color: #ffff;
    padding-top: 40px;
    margin-left: 5%;
}